/* CSS Document */

body{
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#Display_box{
	margin: 20px 0;
	padding: 20px;
	border: 2px solid #696969;
	border-radius: 4px;
	box-shadow:0px 0px 6px 3px #adadad;
}
