/* CSS Document */
*{
	margin:0;
	padding:0;
}

.cfx:after{
	content:"";
	display:block;
	clear:both;
}

body{
	font-size:75%;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
}

a{
	text-decoration:none;
}

/*-------------------------------
header
-------------------------------*/

header{
	width:990px;
	margin:10px auto;
}

	header h1{
		float:left;
	}

	header p.Menu{
		float:right;
		display: none;
	}



/*-------------------------------
nav globalnav
-------------------------------*/
nav{
}

nav ul{
	width:990px;
	margin:0 auto;
}

nav li{
	float:left;
}
nav  li a:hover{
	opacity:0.7;
}
/*-------------------------------
globalnav
-------------------------------*/
nav #globalnav li{
	float:left;
	margin-left:10px;
}
	nav #globalnav li:first-child{
		margin-left:0;
	}
	nav #globalnav li:last-child{
		margin-rignt:0;
	}

/*-------------------------------
smartnav
-------------------------------*/

nav#Snav{
	display: none;
}



/*-------------------------------
article
-------------------------------*/

article{
	width: 990px;
    margin: 0 auto;
    background: none;
    padding-top: 5px;
}

article #no1{
}

article #no1 #Main-img img{
	max-width: 100%;
	height: auto;
}

article #no1 #Text{
	margin:20px 0;
}

article #no1 #Text p{
	text-align:center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:120%;
	font-weight:bold;
	line-height:2;
}

article #no1 #Text p#click{
	margin-top:20px;
}

article #no2 nav{
	width:100%;
	margin-bottom:20px;
}

article #no2 nav ul{
}

article #no2 nav ul li{
	margin-right:19px;
}

article #no2 nav ul li:last-child{
	margin:0;
}


article #no2 #slider{
	position:relative;
}

article #no2 .swiper-slide{
	width:990px;
	height:430px;
}

article #no2 .swiper-slide .slider-box{
	width:770px;
	height:300px;
	padding:90px 110px 40px 110px;
}

article #no2 .swiper-slide .slider-box h2{
	margin-bottom:40px;
	font-size:1.5em;
	font-weight:bold;
	line-height:1.3em;
	color:#fff;
}

article #no2 .swiper-slide .slider-box p{
	margin-bottom:20px;
	line-height:1.5;
	color:#fff;
}

article #no2 .swiper-slide .slider-box p.link{
	float:right;
}

article #no2 .swiper-slide .slider-box p.link a{
	padding-left:15px;
	text-decoration:none;
	line-height:9px;
	color:#fff;
	background: url(../image/boxlink.png) 0 0 no-repeat;
}

article #no2 .swiper-slide .slider-box p.link a:hover{
	text-decoration:underline;
}

article #no2 .swiper-slide .slider-box p:last-child{
	margin-bottom:0;
}

article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColL{
	width:470px;
	margin-right:20px;
	float:left;
}

article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColR{
	width:277px;
	float:right;
}

article #no2 .swiper-slide .slider-box #boxin2{
	overflow-y: scroll;
}

article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColL{
	width: 180px;
	float: left;
	border-right: 2px solid #e60012;
}

article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColR{
	margin-left: 20px;
	float: left;
}

article #no2 #slider #side1{
	background-image:url('../image/WEC1.png');
}

article #no2 #slider #side2{
	background-image:url('../image/WEC2.png');
}

article #no2 #slider #side3{
	background-image:url('../image/WEC3.png');
}

article#no3-art{
	padding:30px;
}


article h2{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
	color: #e60012;

}

/* スライダー　ナビゲーション */
.slider_for a .active{
	color:#0F3;
}

/* section3  */
section#no3{
	height:auto;
	    margin-bottom: 40px;
}
section#no3-sec{
	padding:30px;
	clear:both;
}
article img{
}

article p img{
	max-width: none;
    height: auto;
}
/* section3  */
section#no3{
	height:auto;
	    margin-bottom: 40px;
}
section#no3-sec{
	padding:30px;
	clear:both;
}


section#no3-sec h2{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
	color: #e60012;
	margin-bottom: 20px;

}
section#no3-sec .ColL{
	width:217px;
	float:left;
	margin-right: 20px;
}
section#no3-sec .ColR{
	width:693px;
	float:left;
	margin-bottom: 20px;
}
section#no3 img{
    max-width: none;
    height: auto;
}

section .ColL p img{
	max-width: none;
    height: auto;
}

section#no3 p{
    margin-bottom: 20px;
	line-height:20px;
}

section#no4{
	clear:both;
}

/* section4 jquery  */
section#no4 #acMenu dt{
    display:block;
	border-top:4px solid #e60012;
	height:30px;
	line-height:30px;
	padding:20px;
	background-image:url(../image/role_arrow_down.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	background-position:97% 50%;
	clear:both;
    }

	section#no4 #acMenu dt.active{
		background-color:#e7e7e7;
		background-image:url(../image/role_arrow_up.png);
		background-repeat:no-repeat;
		background-position:right bottom;
		background-position:97% 50%;
	}

	section#no4 #acMenu dt h3{
		background-image:url(../image/role_circle_red.png);
		background-repeat:no-repeat;
		background-position:0 5px;
		padding-left:25px;
    }

		section#no4 #acMenu dd{
			display:none;
			margin-top:20px;
			margin-bottom:20px;
			}

		section#no4 #acMenu dd .textL{
			width:450px;
			float:left;
			margin:0 20px;
			box-sizing:border-box;
		}

		section#no4 #acMenu dd .textL p{
			margin-bottom: 20px;
			line-height:20px;
		}
		section#no4 #acMenu dd .textL h4{
			color: #e60012;
			font-weight: bold;
			margin-bottom:15px;
		}

		section#no4 #acMenu dd .textR{
			max-width:100%;
			margin-left:20px;
			float:left;
		}
		section#no4 #acMenu dd .textR p img{
			margin-bottom:20px;
		}
		section#no4 #acMenu dd .textR h4{
			margin-bottom:10px;
		}

/* section5 スケジュール */
section#no5 .schedule {
    color: #000000;
    background-color: #1d1b57;
    padding-bottom: 20px;
	clear:both;
	margin-top:-20px;
}

.schedule:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}
	section#no5 .schedule h2{
		color:#fff;
		font-size:18px;
		padding:20px;
	}

	section#no5 .schedule .scheduleDetail{
		width:220px;
		padding-left:20px;
		margin-bottom:5px;
		border-right:1px #00a1e9 solid;
		float:left;
	}

	section#no5 .schedule .scheduleDetail:nth-child(4n+1){
		border-right:none;
	}
	section#no5 .schedule .scheduleDetail h3{
		font-size:1.25em;
		line-height:1.25em;
		color:#1895ff;
	}
	section#no5 .schedule .scheduleDetail p{
		color:#fff;
		height:24px;
		padding:10px 0;
		line-height:15px;
	}
	section#no5 a:hover{
		opacity:0.7;
	}

/* パンくずリスト */
.pankuzu{
	padding:10px;
}
	.pankuzu ol li {
			display: inline;
			list-style-type: none;
	}

	.pankuzu ol li:before {
			content: " > ";
	}


	.pankuzu ol li:first-child:before {
			content: none;
	}

		.pankuzu ol li a.active{
			color:#000;
		}

/* banner */
#banner .banner_nav nav{
	display:block;
	width:990px;
	margin:0 auto;
	background-color:#ddd;
}
	#banner .banner_nav ul {
		width:990px;
		padding: 0;
		list-style-type: none;
	}

	#banner .banner_nav ul li {
		display: inline-block;
		list-style-type: none;
		text-align: center;
		margin:14px 0 14px 14px;
	}
    * html li { display: inline; }
    *:first-child+html li { display: inline; }

/* footer */
footer{
	width:990px;
	margin:0 auto;
	text-align:right;
}
	footer p{
		padding:10px 0;
	}



/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){

img{
	max-width: 100%;
	height: auto;
	width /***/:auto;　
}

#container{
	width:100%;
}

}

/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (min-width: 641px) and (max-width: 768px){


/*-------------------------------
header
-------------------------------*/

header{
	width:400px;
	margin:10px auto;
}

	header h1{
		float:left;
	}

		header h1 img{
			max-width: 100%;
		}

	header p.Menu{
		float:right;
		display: block;
	}


/*-------------------------------
globalnav
-------------------------------*/
nav#Gnav{
	display: none;
}

nav ul{
	width: auto;
}


/*-------------------------------
smartnav
-------------------------------*/

nav#Snav{
	clear: both;
	position: relative;
	display: block;
}

	nav#Snav ul#smartnav{
		width: 100%;
		display: none;
		position: absolute;
		top: 0;
		z-index: 10;
		background: #fff;
	}

		nav#Snav ul#smartnav li{
			float: none;
		}

			nav#Snav ul#smartnav li a{
				display: block;
				padding: 20px;
			}

		nav#Snav ul#smartnav li.icon1{
			background-color: #fe6666;
		}

		nav#Snav ul#smartnav li.icon2{
			background-color: #feb900;
		}

		nav#Snav ul#smartnav li.icon3{
			background-color: #42b2c5;
		}
		nav#Snav ul#smartnav li.icon4{
			background-color: #b56eb5;
		}

		nav#Snav ul#smartnav li.icon5{
			background-color: #3ac1a6;
		}

		nav#Snav ul#smartnav li.icon6{
			background-color: #f38648;
		}


/*-------------------------------
article
-------------------------------*/

article{
	width: auto;
	margin: 0 auto;
	background: none;
	padding:5px 10px 0 10px;
}

/* section1  */
	article #no1{
	}

		article #no1 #Main-img img{
			max-width: 100%;
			height: auto;
		}

		article #no1 #Text{
			margin:20px 0;
		}

			article #no1 #Text p{
				text-align:center;
				font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				font-size:120%;
				font-weight:bold;
				line-height:2;
			}

			article #no1 #Text p#click{
				margin-top:20px;
			}


/* section2  */
			article #no2 nav ul{
				margin: 0 auto;
			}

				article #no2 nav ul li{
					margin: 0 0 20px 0;
					text-align: center;
					float: none;
				}

				article #no2 nav ul li:last-child{
					margin:0;
				}

						article #no2 nav ul li a img{
							max-width: 100%;
						}

		article #no2 img{
			max-width: 100%;
		}


		article #no2 #slider{
			position:relative;
			display: none;
		}

		article #no2 .swiper-slide{
			width:auto;
			height:430px;
		}

			article #no2 .swiper-slide .slider-box{
				width:auto;
				padding: 15px;
				position: absolute;
				top: 0;
				right: 0;
			}

				article #no2 .swiper-slide .slider-box h2{
					margin-bottom:20px;
					font-size:100%;
					font-weight:bold;
					line-height:normal;
					color:#fff;
				}

				article #no2 .swiper-slide .slider-box p{
					margin-bottom:10px;
					line-height:1.5;
					color:#fff;
				}

				article #no2 .swiper-slide .slider-box p:last-child{
					margin-top:20px;
				}

				article #no2 .swiper-slide .slider-box p.link{
					float:right;
				}

					article #no2 .swiper-slide .slider-box p.link a{
						padding-left:15px;
						text-decoration:none;
						line-height:9px;
						color:#fff;
						background: url(../image/boxlink.png) 0 0 no-repeat;
					}

					article #no2 .swiper-slide .slider-box p.link a:hover{
						text-decoration:underline;
					}

					article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColL{
						width:470px;
						margin-right:20px;
						float:left;
					}

					article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColR{
						width:277px;
						float:right;
					}

				article #no2 .swiper-slide .slider-box #boxin2{
					overflow-y: scroll;
				}

					article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColL{
						width: 180px;
						float: left;
						border-right: 2px solid #e60012;
					}

					article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColR{
						margin-left: 20px;
						float: left;
					}

			article #no2 #slider #side1{
				height: 0;
				padding-top: 60.60%;
				background: url('../image/smartWEC1.png') 0 0 no-repeat;
				background-size: contain;
			}

			article #no2 #slider #side2{
				height: 0;
				padding-top: 60.60%;
				background: url('../image/smartWEC2.png') 0 0 no-repeat;
				background-size: contain;
			}

			article #no2 #slider #side3{
				height: 0;
				padding-top: 60.60%;
				background: url('../image/smartWEC3.png') 0 0 no-repeat;
				background-size: contain;
			}


/* section3  */

		article p img{
			max-width: none;
			height: auto;
		}

	article #no3{
		width: 100%;
		height:auto;
		margin-bottom: 40px;
	}

		article #no3 #no3-sec{
			padding:30px;
		}

			section#no3-sec h2{
				font-size: 1.5em;
				font-weight: bold;
				line-height: 1.3em;
				color: #e60012;
				margin-bottom: 20px;
			}

			section#no3-sec .ColL{
				width: 100%;
				float:left;
				margin-right: 0;
				text-align: center;
			}

			section#no3-sec .ColR{
				width: auto;
				float:left;
				margin-bottom: 20px;
			}

			section#no3 img{
				max-width: 100%;
				height: auto;
			}

			section#no3 p{
				margin-bottom: 20px;
				line-height:20px;
			}

				section .ColL p img{
					max-width: none;
					height: auto;
				}


/* section4 jquery  */
	section#no4 #acMenu dt{
		display:block;
		border-top:4px solid #e60012;
		height:30px;
		line-height:30px;
		padding:20px;
		background-image:url(../image/role_arrow_down.png);
		background-repeat:no-repeat;
		background-position:right bottom;
		background-position:97% 50%;
		clear:both;
	}

	section#no4 #acMenu dt.active{
		background-color:#e7e7e7;
		background-image:url(../image/role_arrow_up.png);
		background-repeat:no-repeat;
		background-position:right bottom;
		background-position:97% 50%;
	}

		section#no4 #acMenu dt h3{
			background-image:url(../image/role_circle_red.png);
			background-repeat:no-repeat;
			background-position:0 5px;
			padding-left:25px;
		}

	section#no4 #acMenu dd{
		display:none;
		margin-top:20px;
		margin-bottom:20px;
	}

		section#no4 #acMenu dd .textL{
			width:450px;
			margin:30px auto;
			float: none;
			box-sizing:border-box;
		}

			section#no4 #acMenu dd .textL p{
				margin-bottom: 20px;
				line-height:20px;
			}

			section#no4 #acMenu dd .textL h4{
				color: #e60012;
				font-weight: bold;
				margin-bottom:15px;
			}

		section#no4 #acMenu dd .textR{
			width:450px;
			max-width:100%;
			margin:0 auto;
			float:none;
		}

			section#no4 #acMenu dd .textR p img{
				margin-bottom:20px;
			}

			section#no4 #acMenu dd .textR h4{
				margin-bottom:10px;
			}


/* section5 スケジュール */

			article #no5 h1 img{
				max-width: 100%;
			}

		.schedule:after {
			content: "";
			display: block;
			clear: both;
			overflow: hidden;
		}


		article #no5 .schedule {
			color: #000000;
			background-color: #1d1b57;
			padding: 20px;
			clear:both;
			margin-top:-20px;
		}

			article #no5 .schedule h2{
				color:#fff;
				font-size:18px;
				text-align: center;
				padding:30px;
				margin-bottom: 20px;
			}

			article #no5 .schedule .scheduleDetail{
				width: 50%;
				padding: 0 10%;
				margin-bottom:5px;
				text-align: center;
				border-right:none;
				border-right: 2px solid #1895ff;
				float:left;
				box-sizing: border-box;
			}

			section#no5 .schedule .scheduleDetail:nth-child(2n+1){
				border-right:none;
			}

				article #no5 .schedule .scheduleDetail h3{
					font-size:1.25em;
					line-height:1.25em;
					color:#1895ff;
				}

				article #no5 .schedule .scheduleDetail p{
					color:#fff;
					height:24px;
					padding:10px 0;
					line-height:15px;
				}

				article #no5 .schedule .scheduleDetail img{
					max-width: 100%;
				}

		article #no5 a:hover{
			opacity:0.7;
		}

			article #no5 a img{
				max-width: 100%;
				padding: 10px 0;
				background-color: #e60012;
			}


/* banner */

#banner{
	width: auto;
	padding: 0 10px;
}

	#banner .banner_nav{
	}

		#banner .banner_nav nav{
			width:auto;
			margin:0 auto;
			padding: 20px;
			background-color:#ddd;
		}

			#banner .banner_nav ul {
				width: auto;
				margin: 0 auto;
			}

				#banner .banner_nav ul li {
					width: 50%;
					padding: 0 6%;
					display: block;
					margin: 0 0 20px 0;
					text-align: center;
					box-sizing: border-box;
				}

				#banner .banner_nav ul li:last-child{
					margin: 0;
				}

						#banner .banner_nav ul li a img{
							max-width: 100%;
						}


/* footer */
footer{
	width:auto;
	margin:0 auto;
	text-align: center;
}

	footer p{
		padding:10px 0;
	}


}


/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){


/*-------------------------------
header
-------------------------------*/

header{
	width:300px;
	margin:10px auto;
}

	header h1{
		float:left;
	}

		header h1 img{
			max-width: 100%;
		}

	header p.Menu{
		float:right;
		display: block;
	}

/*-------------------------------
globalnav
-------------------------------*/
nav#Gnav{
	display: none;
}

nav ul{
	width: auto;
}


/*-------------------------------
smartnav
-------------------------------*/

nav#Snav{
	clear: both;
	position: relative;
	display: block;
}

	nav#Snav ul#smartnav{
		width: 100%;
		display: none;
		position: absolute;
		top: 0;
		z-index: 10;
		background: #fff;
	}

		nav#Snav ul#smartnav li{
			float: none;
		}

			nav#Snav ul#smartnav li a{
				display: block;
				padding: 10px 20px;
			}

		nav#Snav ul#smartnav li.icon1{
			background-color: #fe6666;
		}

		nav#Snav ul#smartnav li.icon2{
			background-color: #feb900;
		}

		nav#Snav ul#smartnav li.icon3{
			background-color: #42b2c5;
		}
		nav#Snav ul#smartnav li.icon4{
			background-color: #b56eb5;
		}

		nav#Snav ul#smartnav li.icon5{
			background-color: #3ac1a6;
		}

		nav#Snav ul#smartnav li.icon6{
			background-color: #f38648;
		}

/*-------------------------------
article
-------------------------------*/

article{
	width: auto;
	margin: 0 auto;
	background: none;
	padding:5px 10px 0 10px;
}

	article #no1{
	}

		article #no1 #Main-img img{
			max-width: 100%;
			height: auto;
		}

		article #no1 #Text{
			margin:20px 0;
		}

			article #no1 #Text p{
				text-align:center;
				font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				font-size:120%;
				font-weight:bold;
				line-height:2;
			}

			article #no1 #Text p#click{
				margin-top:20px;
			}


			article #no2 nav ul{
				margin: 0 auto;
			}

				article #no2 nav ul li{
					margin: 0 0 20px 0;
					text-align: center;
					float: none;
				}

				article #no2 nav ul li:last-child{
					margin:0;
				}

						article #no2 nav ul li a img{
							max-width: 100%;
						}

			article #no2 img{
				max-width: 100%;
			}


			article #no2 #slider{
				position:relative;
				display: none;
			}

			article #no2 .swiper-slide{
				width:auto;
				height:430px;
			}

				article #no2 .swiper-slide .slider-box{
					width:auto;
					padding: 15px;
					position: absolute;
					top: 0;
					right: 0;
				}

					article #no2 .swiper-slide .slider-box h2{
						margin-bottom:20px;
						font-size:100%;
						font-weight:bold;
						line-height:normal;
						color:#fff;
					}

						article #no2 .swiper-slide .slider-box p{
							margin-bottom:10px;
							line-height:1.5;
							color:#fff;
						}

						article #no2 .swiper-slide .slider-box p.link{
							float:right;
						}

							article #no2 .swiper-slide .slider-box p.link a{
								padding-left:15px;
								text-decoration:none;
								line-height:9px;
								color:#fff;
								background: url(../image/boxlink.png) 0 0 no-repeat;
							}

							article #no2 .swiper-slide .slider-box p.link a:hover{
								text-decoration:underline;
							}

						article #no2 .swiper-slide .slider-box p:last-child{
							margin-top:20px;
						}

							article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColL{
								width:470px;
								margin-right:20px;
								float:left;
							}

							article #no2 .swiper-slide .slider-box #boxin1 #boxin1ColR{
								width:277px;
								float:right;
							}

						article #no2 .swiper-slide .slider-box #boxin2{
							overflow-y: scroll;
						}

							article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColL{
								width: 180px;
								float: left;
								border-right: 2px solid #e60012;
							}

							article #no2 .swiper-slide .slider-box #boxin2 #boxin2ColR{
								margin-left: 20px;
								float: left;
							}

				article #no2 #slider #side1{
					height: 0;
					padding-top: 60.60%;
					background: url('../image/smartWEC1.png') 0 0 no-repeat;
					background-size: contain;
				}

				article #no2 #slider #side2{
					height: 0;
					padding-top: 60.60%;
					background: url('../image/smartWEC2.png') 0 0 no-repeat;
					background-size: contain;
				}

				article #no2 #slider #side3{
					height: 0;
					padding-top: 60.60%;
					background: url('../image/smartWEC3.png') 0 0 no-repeat;
					background-size: contain;
				}


/* section3  */


article img{
}

	article p img{
		max-width: none;
		height: auto;
	}

/* section3  */
	article #no3{
		width: 100%;
		height:auto;
		margin-bottom: 40px;
	}

		article #no3 #no3-sec{
			padding:30px;
		}


				section#no3-sec h2{
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1.3em;
					color: #e60012;
					margin-bottom: 20px;

				}
				section#no3-sec .ColL{
					width: 100%;
					float:left;
					margin-right: 0;
					text-align: center;
				}
				section#no3-sec .ColR{
					width: auto;
					float:left;
					margin-bottom: 20px;
				}
				section#no3 img{
					max-width: 100%;
					height: auto;
				}

				section .ColL p img{
					max-width: none;
					height: auto;
				}

				section#no3 p{
				    margin-bottom: 20px;
					line-height:20px;
				}


/* section5 スケジュール */

		article #no5 h1 img{
			max-width: 100%;
		}

	article #no5 .schedule {
		color: #000000;
		background-color: #1d1b57;
		padding: 20px;
		clear:both;
		margin-top:-20px;
	}

				.schedule:after {
				    content: "";
				    display: block;
				    clear: both;
				    overflow: hidden;
				}
					section#no5 .schedule h2{
						color:#fff;
						font-size:18px;
						text-align: center;
						padding:30px;
						margin-bottom: 20px;
					}

					section#no5 .schedule .scheduleDetail{
						width: auto;
						padding: 10px;
						margin-bottom:5px;
						text-align: center;
						border-right:none;
						border-bottom: 2px solid #1895ff;
						float:none;
					}

					section#no5 .schedule .scheduleDetail:last-child{
						border: none;
					}

					section#no5 .schedule .scheduleDetail h3{
						font-size:1.25em;
						line-height:1.25em;
						color:#1895ff;
					}
					section#no5 .schedule .scheduleDetail p{
						color:#fff;
						height:24px;
						padding:10px 0;
						line-height:15px;
					}

					section#no5 .schedule .scheduleDetail img{
						max-width: 100%;
					}

					section#no5 a:hover{
						opacity:0.7;
					}

					section#no5 a img{
						max-width: 100%;
						padding: 10px 0;
						background-color: #e60012;
					}

/* banner */

#banner{
	width: auto;
	padding: 0 10px;
}

	#banner .banner_nav{
	}

		#banner .banner_nav nav{
			width:auto;
			margin:0 auto;
			padding: 20px;
			background-color:#ddd;
		}

		#banner .banner_nav ul {
			width: auto;
			margin: 0 auto;
		}

			#banner .banner_nav ul li {
				display: block;
				margin: 0 0 20px 0;
				text-align: center;
				float: none;
			}

			#banner .banner_nav ul li:last-child{
				margin: 0;
			}

					#banner .banner_nav ul li a img{
						max-width: 100%;
					}


/* footer */
footer{
	width:auto;
	margin:0 auto;
	text-align: center;
}

	footer p{
		padding:10px 0;
	}


}
